<footer class="footer <% if (pageTitle === 'Maps') { %>footer-bottom<% } %>">
    <p class="text-center footer-label">Contributors</p>
    <ul class="d-flex align-item-center justify-content-center footer-nav">
        <li><a href="https://github.com/adkmcphee" target="_blank" class="footer-link">Adam McPhee</a></li>
        <li><a href="https://github.com/hoomili" target="_blank" class="footer-link">Hooman Asadian</a></li>
        <li><a href="https://github.com/suefrontend" target="_blank" class="footer-link">Kayano Oyama</a></li>
    </ul>
</footer>
