<div class="wrapper">
    <div class="header">
        <h1 class="title"><a href="/">WikiMap</a></h1>
        <nav>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a class="active" href="/new-map">Add Map</a></li>
                <li><a class="btn" href="">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>
