<body>
    <%- include('../partials/_head') %>


    <h2>Popular Maps</h2>

    <div class="container">
        <div class="row">
                <% for(const map of maps) { %>           
                <article class="col-lg-3">
                    <figure>
                        <img class="img-fluid rounded" src="<%= map.image_url %>" alt="<%= map.name %>" /> 
                    </figure>
                    <div>        
                        <h3><%= map.name %></h3>
                    </div>
                </article>
                <% } %>
            </div>
    </div>
</body>
