@use 'variables' as *;

.title div i {
  padding-left: 1rem;
}
.add {
  color: $color;
  background-color: transparent;
  font-weight: bolder;
  border: none;
  font-size: large;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
.pins {
  width: 55%;
  margin: 0 30px 0 0;
}
.info-window {
  color: $primary;
}
.map-detail {
  height: 80vh;
  width: 45%;
}
.pin {
  border-bottom: 1px solid $light;
  padding: 15px;

  &:hover {
    background: $light;
  }

  .description {
    flex-grow: 2;
  }

  figure {
    max-width: 150px;
    max-height: 150px;
    border-radius: 6px;
    overflow: hidden;
    flex-grow: 1;
    margin: 0 0 0 0;

      .pinImg {
        height: 100%;
        object-fit: cover;
      }
    }
}


#pinHeader {
  margin: 0 0 20px 0;

  h3 {
    margin: 0 10px 0 0;
  }
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.btn-danger {
  background-color: #dc3545;
}

@media (max-width: 767px) { 
  #map {
    width: 100%;
    height: 30vh;
  }
  .pins {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .pin {
    margin: 0;
  }
  figure {
    margin: 0;
  }
  .add {
    margin: 20px 0 0 0;
    padding: 5px;
    font-size: 1rem;
    border: 2px solid $light;
  }
}
